<div class="wrapper" id="wrapper">

    <!-- Start Bradcaump area -->
    <div class="ht__bradcaump__area bg-image--3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Manage</h2>
                        <nav class="bradcaump-content">
                            <a class="breadcrumb_item" href="/admin">Admin</a>
                            <span class="brd-separetor">/</span>
                            <span class="breadcrumb_item active">Manage</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradcaump area -->
    <!-- cart-main-area start -->
    <div class="cart-main-area section-padding--lg bg--white">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 ol-lg-12">
                    <div class="table-content wnro__table table-responsive">
                        <table>
                            <thead>
                                <tr class="title-top">
                                    <th class="product-thumbnail">Poster</th>
                                    <th class="product-name">Comic name</th>
                                    <th class="product-price">total chapter</th>
                                    <th class="product-price">total view </th>
                                    <th class="product-price">Time </th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="product-thumbnail"><img src="/images/product/sm-3/1.jpg"
                                            alt="product img"></td>
                                    <td class="product-name"><a>One Punch Maádasdadadajhdkajhdakjhsdn
                                            Maádasdadadajhdkajhda</a></td>
                                    <td class="product-price"><span class="amount">0</span></td>
                                    <th class="product-price"><span class="amount">0</span></th>
                                    <th class="product-price"><span class="amount">01/01/2020</span></th>
                                    <td class="product-remove"><a href="#">X</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <ul class="wn__pagination">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
                </ul>
            </div>
        </div>

    </div>

    <!-- cart-main-area end -->
</div>