<div class="wrapper" id="wrapper">

    <!-- Start Bradcaump area -->
    <div class="ht__bradcaump__area bg-image--4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">administration</h2>
                        <nav class="bradcaump-content">
                            <a class="breadcrumb_item" href="index.html">Admin</a>
                            <span class="brd-separetor">/</span>
                            <span class="breadcrumb_item active">New Comic</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradcaump area -->
    <!-- Start Checkout Area -->
    <section class="wn__checkout__area section-padding--lg bg__white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="wn_checkout_wrap">
                        <div class="checkout_info">
                            <span>Upload a chap (chap 1) </span>
                        </div>
                    </div>
                </div>
            </div>
            <form method="POST" action="" name="form-comic-create" id="form-comic-create" enctype="multipart/form-data">
                <div class="row">
                    {{!-- <div class="col-lg-12 row">
                        <input type="file" name="posterImg" id="poster_img">
                    </div> --}}
                    <div class="col-lg-12 row">
                        <input type="file" name="chapterNewImg" id="chapter_new_img" multiple>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="customer_details">
                            <h3>New comic</h3>
                            <div class="customar__field">
                                <div class="input_box">
                                    <label>Name <span>*</span></label>
                                    <input type="text" name="name">
                                </div>
                                <div class="input_box">
                                    <label>Catagory<span>*</span></label>
                                    <select class="select__option">
                                        <option>Action</option>
                                        <option>Adult</option>
                                        <option>Adventure</option>
                                        <option>Anime</option>
                                        <option>Chuyển Sinh</option>
                                        <option>Comedy</option>
                                        <option>Comic</option>
                                        <option>Cooking</option>
                                        <option>Cổ Đại</option>
                                        <option>Doujinshi</option>
                                        <option>Drama</option>
                                        <option>Đam Mỹ</option>
                                        <option>Ecchi</option>
                                        <option>Fantasy</option>
                                        <option>Gender Bender</option>
                                        <option>Harem</option>
                                        <option>Historical</option>
                                        <option>Horror</option>
                                        <option>Josei</option>
                                        <option>Live action</option>
                                        <option>Manga</option>
                                        <option>Manhua</option>
                                        <option>Manhwa</option>
                                        <option>Martial Arts</option>
                                        <option>Mature</option>
                                        <option>Mecha</option>
                                        <option>Mystery</option>
                                        <option>Ngôn Tình</option>
                                        <option>One shot</option>
                                        <option>Psychological</option>
                                        <option>Romance</option>
                                        <option>School Life</option>
                                        <option>Sci-fi</option>
                                        <option>Seinen</option>
                                        <option>Shoujo</option>
                                        <option>Shoujo Ai</option>
                                        <option>Shounen</option>
                                        <option>Shounen Ai</option>
                                        <option>Slice of Life</option>
                                        <option>Smut</option>
                                        <option>Soft Yaoi</option>
                                        <option>Soft Yuri</option>
                                        <option>Sports</option>
                                        <option>Supernatural</option>
                                        <option>Tạp chí truyện tranh</option>
                                        <option>Thiếu Nhi</option>
                                        <option>Tragedy</option>
                                        <option>Trinh Thám</option>
                                        <option>Truyện scan</option>
                                        <option>Truyện Màu</option>
                                        <option>Việt Nam</option>
                                        <option>Webtoon</option>
                                        <option>Xuyên Không</option>
                                        <option>16+</option>
                                    </select>
                                </div>
                                <div class="margin_between">
                                    <div class="input_box space_between">
                                        <label>Author name <span>*</span></label>
                                        <input type="text" name="authorName">
                                    </div>
                                    <div class="input_box space_between">
                                        <label>Age <span>*</span></label>
                                        <input type="text" name="age">
                                    </div>
                                </div>
                                <div class="input_box">
                                    <label>Description <span>*</span></label>
                                    <input type="text" name="description">
                                </div>
                                <div class="product__info__main">
                                    <div class="box-tocart d-flex">
                                        <div class="addtocart__actions">
                                            <button class="tocart" type="submit" title="Add to Cart">︵Create new
                                                comic︵</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 md-mt-40 sm-mt-40">
                        <div class="wn__order__box">
                            <h3 class="onder__title">Attention</h3>
                            <ul class="order__total">
                                <li>Image poster</li>
                                <li>Not empty</li>
                            </ul>
                            <ul class="order_product">
                                <li>Comic name<span>Not empty</span></li>
                                <li>Image poster<span>size < 5 MB</span> </li> <li>Image<span>size < 2 MB</span> </li>
                                                    <li>
                                                    Description<span>Not empty</span></li>
                                <li>Author<span>Not empty</span></li>
                            </ul>
                            <ul class="total__amount">
                                <li>Remember me <span></span></li>
                            </ul>
                        </div>
                        <div id="accordion" class="checkout_accordion mt--30" role="tablist">
                            <div class="payment">
                                <div class="che__header" role="tab" id="headingOne">
                                    <a class="checkout__title" data-toggle="collapse" href="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        <span>Note</span>
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="payment-body">Mỗi lần chỉ đăng 1 chapter và 1 thể loại. Sau đó cập nhập
                                        thêm
                                        chapter mới</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- End Checkout Area -->
</div>